.card {
    min-height: 300px;
    transition: height 3s;
    transition-timing-function: ease-in-out;
}

::ng-deep div.ttip {
    position: absolute;
    text-align: center;
    width: 60px;
    padding: 5px;
    font-size: 12px;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

::ng-deep .tip {
    position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid lightsteelblue;
}

::ng-deep .imgTip {
    position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid dimgray;
}

::ng-deep .imgFrame {
    position: absolute;
    padding: 3px;
    background-color: dimgray;
    font-size: 8px
}

.card{
    box-shadow: 1px 1px 1px 1px #ccc;
}