<div class="card my-2">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="card-title mr-auto">{{videoMetadata.name}}
                <span [ngSwitch]="type">
                    <span *ngSwitchCase="1" class="badge badge-primary">Proctocolectomy</span>
                    <span *ngSwitchCase="2" class="badge badge-success">Rectal resection</span>
                    <span *ngSwitchCase="3" class="badge badge-danger">Sigmoid resection</span>
                </span>
            </h5>
            <button type="button" (click)="expandCard()" class="btn btn-primary btn-sm"
                [disabled]="cardExpanded && (!videoMetadata || !phaseAnnotation || !deviceData || !instrumentAnnotation)">
                <span *ngIf="!cardExpanded">
                    Details
                </span>
                <span
                    *ngIf="cardExpanded && (!videoMetadata || !phaseAnnotation || !deviceData || !instrumentAnnotation)">
                    <span class="spinner-border spinner-border-sm" role="status"></span>
                    Loading...
                </span>
                <span *ngIf="cardExpanded && videoMetadata && phaseAnnotation && deviceData && instrumentAnnotation">
                    Close
                </span>
            </button>
        </div>
        <h6 class="card-subtitle mb-2 text-muted">{{duration}}</h6>


        <div *ngIf="!phaseAnnotation" style="width:100%; height: 110px">
            <div class="d-flex h-100 align-items-center justify-content-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>

        <app-bar-chart *ngIf="videoMetadata && phaseAnnotation" [videoMetadata]="videoMetadata"
            [phaseAnnotation]="phaseAnnotation"></app-bar-chart>

        <div *ngIf="videoMetadata && deviceData && instrumentAnnotation && phaseAnnotation" [hidden]="!cardExpanded">
            <app-chart-area [videoMetadata]="videoMetadata" [deviceData]="deviceData"[instrumentAnnotation]="instrumentAnnotation" [phaseAnnotation]="phaseAnnotation"></app-chart-area>
            <app-control-panel [videoMetadata]="videoMetadata"></app-control-panel>
            <app-table [videoMetadata]="videoMetadata" [phaseAnnotation]="phaseAnnotation"></app-table>
        </div>
    </div>
</div>